{% block extra_css %}
<link rel="stylesheet" href="/static/css/navfoot.css">
{% endblock %}

<footer class="foot">
  <div class="ff">
    <div class="f1">
      <div>
        <h2>Let's Talk</h2>
        <p>Manage your notes efficiently with our smart and secure Notes Management System.
          Got ideas or feedback? Let’s connect!</p>
      </div>

      <div>
        <p>Email: shabana2247@gmail.com</p>
        <p>Phone: +91 9347224710</p>
        <p>Address: vijayawada, Andhra Pradesh, India</p>
        Follow me: 🌐 
        <a href="https://github.com/ShabanaAbdhul">Github</a> |
        <a href="https://www.linkedin.com/in/shabana-abdul-774434288?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
      </div>
    </div>
    <div class="f2">
      <p>&copy; 2025 Notes App. All rights reserved.</p>
      <p>Developed By Shabana</p>
    </div>
  </div>
</footer>
