{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/resetpassword.css">
{% endblock %}

{% block body_class %}reset-page{% endblock %}

{% block content %}
<div class="reset-wrapper">
    <h1 class="center">RESET PASSWORD</h1>

    {% if info %}
      <p class="info">{{ info }}</p>
    {% endif %}

    <form class="form" method="POST">
        <div>
            <label for="newpassword">New Password</label><br>
            <input type="password" class="input" id="newpassword" name="newpassword" placeholder="Enter new password" required>
        </div>

        <div>
            <label for="confirmpassword">Confirm Password</label><br>
            <input type="password" class="input" id="confirmpassword" name="confirmpassword" placeholder="Confirm new password" required>
        </div>

        <button type="submit">Reset</button>
    </form>
</div>
{% endblock %}
